<div class="col-xs-offset-4 col-xs-4 img-rounded" style="background:#fff;padding:30px;">
	<div class="row">
		<div class="page-header">
			<h1>Sign in</h1>
		</div>
		
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), defaults: { wrapper_html: { class: 'form-group' } }) do |f| %>
			<div class="form-inputs">
				<%= f.input :email, :required => false, input_html: { class: 'form-control' }, :autofocus => true, error_html: { class: 'text-danger'} %>
				<%= f.input :password, :required => false, input_html: { class: 'form-control' }, error_html: { class: 'text-danger'} %>
				<label class="checkbox">
				<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
				</label>
			</div>
		
			<div class="form-actions">
				<%= f.button :submit, "Sign in", class: "btn btn-primary" %>
			</div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>