<div class="page-header">
	<h2>Search results for "<%= params[:input] %>"</h2>
</div>

<table class="table table-hover">
	<tr>
		<th>Actions</th>
		<th>Subject Name</th>
		<th>Subject Code</th>
		<th>Number of Units</th>
		<th>Numerical Grade</th>
		<th>Professor</th>
	</tr>

	<% if @reportcards.count == 0 %>
		<tr><td colspan=6><p class="text-center">No results.</p></td></tr>
	<% else %>
		<% @reportcards.each do |reportcard| %>
			<tr>
				<td><%= link_to "Edit", edit_reportcard_path(reportcard.id) %> | <%= link_to "Delete", delete_reportcard_path(reportcard.id), :confirm => "Delete this report card?" %></td>
				<td><%= reportcard.subject_name %></td>
				<td><%= reportcard.subject_code %></td>
				<td><%= reportcard.number_of_units %></td>
				<td><%= reportcard.numerical_grade %></td>
				<td><%= reportcard.professor_name %></td>
			</tr>
		<% end %>
	<% end %>
</table>