<h2>First Post</h2>

<h3><%= @first_post.title %></h3>
<p>
<%= @first_post.content %>
</p>
<p>
<%= @first_post.created_at %>
</p>

<h2>Last Post</h2>

<h3><%= @last_post.title %></h3>
<p>
<%= @last_post.content %>
</p>
<p>
<%= @last_post.created_at %>
</p>